@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font: "Poppins", sans-serif;
$primary: #86b6f6;
$dark: #3d3b40;
$light: #eef5ff;
$orange: #ffa447;
$orange-dark: #fe7a36;
body {
    font-family: "Poppins", sans-serif;
    background: $light;
}

header {
    position: fixed !important;
    z-index: 1001;
    width: 100%;
    background: rgba(255, 255, 255, 0.36);
    backdrop-filter: blur(17.6px);
    -webkit-backdrop-filter: blur(17.6px);
    & .navbar-brand {
        & svg {
            width: 32px;
            height: 32px;
            fill: $orange;
        }
        font-family: $font;
        font-size: 1.25rem;
        font-weight: 600;
        margin-left: 8px;
        color: $orange-dark;
        &:hover,
        &:focus {
            transition: all 0.2s ease;
            color: $dark;
        }
    }
    & .navbar-nav {
        & .nav-item {
            & .nav-link {
                font-family: $font;
                font-size: 1rem;
                font-weight: 500;
                color: $dark;
                opacity: 0.8;
                &:hover,
                &:focus {
                    transition: all 0.2s ease;
                    opacity: 1;
                    color: $dark;
                }
                &.active {
                    opacity: 1;
                    color: $orange-dark;
                }
            }
        }
    }
    & .btn-orange {
        font-family: $font;
        border: 1px solid $orange-dark;
        border-radius: 0;
        margin-left: 12px;
        color: $light;
        background: $orange-dark;
        & i {
            margin-left: 8px;
        }
        &:hover,
        &:focus {
            background: $orange;
            border: 1px solid $orange;
            color: $light;
            transition: all 0.2s ease;
        }
    }
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
    background-image: url(/assets/images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    @media (min-width: 576px) {
        height: 150vh;
    }
    @media (min-width: 768px) {
        height: 100vh;
    }
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        background: rgba(0, 0, 0, 0.09);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.2px);
        -webkit-backdrop-filter: blur(2.2px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    & .container {
        z-index: 100;
    }
    &_caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        & .hero_title {
            font-weight: 600;
            font-family: $font;
            font-style: italic;
            color: $dark;
            text-align: center;
            margin-bottom: 2rem;
            font-size: 2rem;
            @media (min-width: 768px) {
                line-height: 3.5rem;
                font-size: 4rem;
            }
            @media (min-width: 992px) {
                margin-bottom: 1.5rem;
                text-align: left;
            }
            @media (min-width: 1400px) {
                font-size: 5rem;
                line-height: 4.2rem;
                margin-bottom: 2rem;
            }
            & span {
                font-weight: 700;
                color: $orange-dark;
            }
        }
        & .link {
            display: flex;
            flex-direction: row;
            justify-content: center;
            @media (min-width: 992px) {
                justify-content: flex-start;
            }

            & .btn-outline {
                border-radius: 0;
                border: 2px solid $orange-dark;
                color: $dark;
                padding: 8px 32px;
                font-family: $font;
                font-size: 1rem;
                font-weight: 500;
                background: rgba(255, 255, 255, 0.19);
                backdrop-filter: blur(9.2px);
                -webkit-backdrop-filter: blur(9.2px);
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                &:hover,
                &:focus {
                    transition: all 0.5s ease;
                    opacity: 0.8;
                }
            }
            & .btn-orange {
                padding: 8px 32px;
                border: 1px solid $orange-dark;
                margin-left: 18px;
                border-radius: 0;
                color: $light;
                background: $orange-dark;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                &:hover,
                &:focus {
                    transition: all 0.5s ease;
                    background: $orange;
                    border-radius: 1px solid $orange;
                }
            }
        }
    }
    &_button_play {
        display: flex;
        justify-content: center;
        align-items: center;
        & a {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
            animation: heartbeat 1.5s ease-in-out infinite both;
            color: $orange-dark;
            text-decoration: none;
            font-size: 2rem;
            position: relative;
            border: 2px solid $light;
            position: relative;
            width: 90px;
            height: 90px;
            @media (min-width: 768px) {
                width: 110px;
                height: 110px;
            }
            &:hover,
            &:focus {
                color: $orange;
            }
            &::after {
                position: absolute;
                background: $light;
                border-radius: 100%;
                z-index: -1;
                content: "";
                height: 60px;
                width: 60px;
                @media (min-width: 768px) {
                    width: 70px;
                    height: 70px;
                }
            }
            &::before {
                position: absolute;
                border: 2px solid $light;
                border-radius: 100%;
                z-index: -1;
                content: "";
                width: 78px;
                height: 78px;
                @media (min-width: 768px) {
                    width: 84px;
                    height: 84px;
                }
            }
        }
    }
    & .wave {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23ffa447" fill-opacity="1" d="M0,96L480,96L960,192L1440,160L1440,320L960,320L480,320L0,320Z"></path></svg>');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 10;
        width: 100%;
        height: 300px;
        position: absolute;
        bottom: 0;
        opacity: 0.8;
        z-index: -1;
        &::before {
            position: absolute;
            z-index: 1;
            content: "";
            width: 100%;
            height: 300px;
            bottom: 0;
            opacity: 0.3;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23ffffff" fill-opacity="1" d="M0,160L480,256L960,256L1440,320L1440,320L960,320L480,320L0,320Z"></path></svg>');
        }
    }
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.about {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media (min-width: 768px) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    & .highlight {
        text-align: center;
        font-family: $font;
        font-size: 1.125rem;
        color: $orange-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }

        &::before {
            content: "";
            width: 32px;
            height: 2px;
            background: $orange;
            margin-right: 12px;
        }
        &::after {
            content: "";
            width: 32px;
            height: 2px;
            background: $orange;
            margin-left: 12px;
        }
    }
    & .caption {
        margin-bottom: 1.5rem;
        @media (min-width: 768px) {
            margin-bottom: 3rem;
        }
        & h2 {
            font-family: $font;
            color: $dark;
            font-weight: 700;
            text-align: center;
            font-size: 1.5rem;
            @media (min-width: 768px) {
                font-size: 1.75rem;
            }
            @media (min-width: 768px) {
                font-size: 2.25rem;
            }
            @media (min-width: 992px) {
                text-align: left;
            }
            & span {
                color: $orange;
            }
        }
        & p {
            font-family: $font;
            text-align: justify;
            font-weight: 400;
            margin-bottom: 0;
            font-size: 1rem;
            text-align: justify;
            @media (min-width: 768px) {
                text-align: center;
            }
            @media (min-width: 992px) {
                margin-left: 120px;
                text-align: left;
                font-size: 1.125rem;
            }
            @media (min-width: 1200px) {
                margin-left: 180px;
            }
        }
    }
    & .about_image {
        & img {
            width: 100%;
            height: auto;
        }
    }
    & .about_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & h4 {
            font-family: $font;
            font-size: 1.5rem;
            font-weight: 600;
            color: $dark;
            margin-bottom: 1rem;
            @media (min-width: 768px) {
                margin-bottom: 0.5rem;
            }
        }
        & p {
            font-family: $font;
            color: $dark;
            opacity: 0.8;
            font-weight: 400;
            font-size: 0.937rem;
            margin-bottom: 0;
            text-align: justify;
            @media (min-width: 768px) {
                text-align: left;
            }
            @media (min-width: 1400px) {
                font-size: 1rem;
            }
        }
        & .btn-secondary {
            background: #638889;
            color: #f9efdb;
            border-radius: 0;
            border: 2px solid #638889;
            padding: 8px 34px;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: 768px) {
                margin-left: unset;
                margin-right: unset;
            }
            &:hover,
            &:focus {
                background: #9dbc98;
                border: 2px solid #9dbc98;
            }
        }
    }
    &_image_right {
        position: absolute;
        width: 55%;
        right: 0;
        padding-top: 2rem;
        padding-bottom: 3rem;
        aspect-ratio: 19/6;
        & img {
            width: 100%;
            aspect-ratio: 4/3;
        }
        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 120%;
            background: $orange;
            -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 88%);
            clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 88%);
            opacity: 0.2;
        }
    }
}

.block_quote {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url(/assets/images/bg-2.avif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.31);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.3px);
        -webkit-backdrop-filter: blur(5.3px);
        background-size: cover;
        content: "";
    }
    & .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & img {
            width: 110px;
            height: 110px;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 100%;
            margin-bottom: 1.5rem;
        }
        & p {
            color: $dark;
            font-family: $font;
            font-size: 1rem;
            text-align: center;
            font-weight: 500;
        }
        & h5 {
            font-family: $font;
            color: $dark;
            opacity: 0.8;
            font-size: 1.25rem;
            font-weight: 300;
            margin-bottom: 0;
            & strong {
                font-weight: 600;
            }
        }
    }
}

.work {
    padding-bottom: 2rem;
    @media (min-width: 768px) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    &_item {
        padding-left: 0;
        padding-right: 0;
        &_content {
            display: flex;
            flex-direction: column;
            & img {
                width: 100%;
                aspect-ratio: 1/1;
                height: auto;
                object-fit: cover;
            }
        }
        &_desc {
            padding: 0.5rem;
            @media (min-width: 768px) {
                padding: 1.5rem;
            }
            @media (min-width: 992px) {
                padding: 2rem;
            }
            &_category {
                & a {
                    color: $orange-dark;
                    font-family: $font;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 0.937rem;
                    &:hover,
                    &:focus {
                        transition: all 0.5s ease;
                        color: $orange-dark;
                        opacity: 0.8;
                    }
                }
                & p {
                    font-family: $font;
                    color: $dark;
                    font-size: 0.937rem;
                    font-weight: 400;
                }
                margin-bottom: 1rem;
            }
            & h3 {
                color: $dark;
                font-family: $font;
                font-weight: 600;
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }
            & p {
                font-family: $font;
                font-weight: 400;
                color: $dark;
                opacity: 0.8;
                font-size: 0.937rem;
                margin-bottom: 0;
                @media (min-width: 1400px) {
                    font-size: 1rem;
                }
            }
        }
    }
}

.service {
    background: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media (min-width: 768px) {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
    & .caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        @media (min-width: 992px) {
            margin-bottom: 2rem;
        }

        & h2 {
            color: $orange-dark;
            font-family: $font;
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        & p {
            color: $dark;
            font-family: $font;
            opacity: 0.8;
            font-weight: 400;
            font-size: 1rem;
        }
    }
    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_icon {
            width: 64px;
            height: 64px;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            color: $light;
            margin-bottom: 1rem;
            background: transparent;
            border: 2px solid $orange-dark;
            z-index: 1;
            &::before {
                content: "";
                z-index: -1;
                position: absolute;
                border-radius: 100%;
                background: $orange;
                width: 50px;
                height: 50px;
            }
            &:hover {
                -webkit-animation: heartbeat 0.5s ease-in-out infinite both;
                animation: heartbeat 0.5s ease-in-out infinite both;
            }
        }
        & h4 {
            font-family: $font;
            color: $dark;
            font-weight: 600;
            font-size: 1.375rem;
            margin-bottom: 0;
        }
        & p {
            color: $dark;
            font-family: $font;
            font-size: 0.937rem;
            opacity: 0.8;
            font-weight: 400;
            text-align: center;
            @media (min-width: 1400px) {
                font-size: 1rem;
            }
        }
    }
}

.process {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-image: url(/assets/images/bg-2.avif);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(6.8px);
    }
    &_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-left: 1px solid $dark;
        &:last-child {
            border-right: 1px solid $dark;
        }
        &_desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            & .process_item_number {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                margin-bottom: 1rem;
                & i {
                    color: $light;
                    padding: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $orange;
                    font-size: 24px;
                    border: 1px solid $orange;
                    margin-right: 12px;
                    &:hover {
                        transition: all 0.5s ease;
                        background: $light;
                        border: 1px solid $light;
                        color: $orange;
                    }
                }
                & h3 {
                    color: $dark;
                    font-size: 2.5rem;
                    font-family: $font;
                    margin-bottom: 0;
                    font-weight: 700;
                }
            }
            & h4 {
                color: $dark;
                font-family: $font;
                font-size: 1.375rem;
                margin-bottom: 0;
                font-weight: 600;
            }
            & p {
                color: $dark;
                font-size: 0.937rem;
                font-weight: 400;
                font-family: $font;
                margin-bottom: 0;
                @media (min-width: 1400px) {
                    font-size: 1rem;
                }
            }
        }
    }
}

.portfolio {
    padding-top: 3rem;
    padding-bottom: 3rem;
    & h2 {
        color: $orange-dark;
        font-family: $font;
        font-size: 2rem;
        display: flex;
        font-weight: 600;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
        justify-content: center;
        margin-bottom: 0;
        &::before {
            margin-right: 12px;
            width: 32px;
            height: 2px;
            content: "";
            display: block;
            background: $orange;
        }
        &::after {
            margin-left: 12px;
            width: 32px;
            height: 2px;
            content: "";
            display: block;
            background: $orange;
        }
    }
    & .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $orange;
        &-item {
            & .nav-link {
                color: $dark;
                font-family: $font;
                font-weight: 400;
                text-transform: uppercase;
                border-radius: 0;
                min-width: 120px;
                &.active {
                    color: $light !important;
                    background: $orange !important;
                    opacity: 1 !important;
                }
                &:hover {
                    opacity: 0.6;
                    color: $light;
                    background: $orange;
                }
            }
        }
    }
    & .tab-pane {
        padding-bottom: 1rem;
        border-bottom: 1px solid $orange;
    }
    &_item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        & img {
            flex: 0 0 auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            width: 50%;
            @media (min-width: 768px) {
                width: 33.33333333%;
            }
        }
        & .portfolio_loadmore {
            aspect-ratio: 1/1;
            background: $orange;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            @media (min-width: 768px) {
                width: 33.33333333%;
            }
            & a {
                text-decoration: none;
                color: $light !important;
                & span {
                    text-transform: uppercase;
                    font-family: $font;
                    font-size: 1.35rem;
                    @media (min-width: 768px) {
                        font-size: 1.75rem;
                    }
                }
                & i {
                    display: none;
                }
            }
            &:hover {
                transition: all 1s ease;
                & a {
                    font-size: 4rem;
                    & span {
                        transition: all 1s ease;
                        display: none;
                    }
                    & i {
                        transition: all 1s ease;
                        display: block;
                    }
                }
            }
        }
    }
}

#modalImage {
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    & .modal-content {
        background: transparent;
        border: 0;
        border-radius: 0;
        & img {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            max-height: 70vh;
        }
    }
}

.team {
    padding-bottom: 3rem;
    @media (min-width: 768px) {
        padding-top: 3rem;
    }
    &_caption {
        margin-bottom: 1.5rem;
        & h2 {
            color: $orange-dark;
            font-family: $font;
            font-size: 2rem;
            display: flex;
            font-weight: 600;
            flex-direction: row;
            align-items: center;
            text-transform: uppercase;
            justify-content: center;
            margin-bottom: 0;
            &::before {
                margin-right: 12px;
                width: 32px;
                height: 2px;
                content: "";
                display: block;
                background: $orange;
            }
            &::after {
                margin-left: 12px;
                width: 32px;
                height: 2px;
                content: "";
                display: block;
                background: $orange;
            }
        }
        & p {
            text-align: center;
            font-weight: 400;
            font-family: $font;
            color: $dark;
            font-size: 1rem;
        }
    }
    &_content {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        & .teamSuryaSwiper {
            top: 0;
            left: 50%;
            transform: translate(-50%);
            & .card {
                border-radius: 0;
                background: transparent;
                img {
                    width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }
                &:hover {
                    transition: all 0.5s ease;
                    & .card_hover {
                        display: flex;
                    }
                }
                &_hover {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.12);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(10.4px);
                    -webkit-backdrop-filter: blur(10.4px);
                    & a {
                        color: $dark;
                        font-size: 20px;
                        margin-right: 8px;
                        background: $orange-dark;
                        width: 32px;
                        height: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        &:hover,
                        &:focus {
                            transition: all 0.5s ease;
                            background: $light;
                        }
                    }
                }
                &_body {
                    padding: 8px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    & h5 {
                        font-family: $font;
                        color: $orange-dark;
                        margin-bottom: 0;
                        font-weight: 600;
                    }
                    & p {
                        color: $dark;
                        opacity: 0.8;
                        font-weight: 400;
                        font-size: 1rem;
                        font-family: $font;
                        margin-bottom: 0;
                    }
                }
            }
        }
        & .swiper-next {
            position: absolute;
            width: 34px;
            height: 34px;
            background: $orange;
            color: $light;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 8px;
            @media (min-width: 768px) {
                right: -17px;
            }
            &:hover {
                transition: all 0.5s ease;
                opacity: 0.6;
            }
        }
        & .swiper-prev {
            position: absolute;
            left: 8px;
            width: 34px;
            height: 34px;
            background: $orange;
            color: $light;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width: 768px) {
                left: -17px;
            }
            &:hover {
                transition: all 0.5s ease;
                opacity: 0.6;
            }
        }
    }
}

.contact {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background: #fff;
    @media (min-width: 768px) {
        padding-bottom: 5rem;
    }
    & .caption {
        margin-bottom: 2rem;
        & h2 {
            color: $orange-dark;
            font-family: $font;
            font-size: 2rem;
            display: flex;
            font-weight: 600;
            flex-direction: row;
            align-items: center;
            text-transform: uppercase;
            justify-content: center;
            margin-bottom: 0;
            &::before {
                margin-right: 12px;
                width: 32px;
                height: 2px;
                content: "";
                display: block;
                background: $orange;
            }
            &::after {
                margin-left: 12px;
                width: 32px;
                height: 2px;
                content: "";
                display: block;
                background: $orange;
            }
        }
        & p {
            text-align: center;
            font-weight: 400;
            font-family: $font;
            color: $dark;
            font-size: 1rem;
        }
    }
    &_image {
        & img {
            width: 100%;
            aspect-ratio: 3/4;
            object-fit: cover;
            @media (min-width: 1400px) {
                aspect-ratio: 1/1;
            }
        }
    }
    &_content {
        display: flex;
        flex-direction: column;
        &_top {
            margin-bottom: 1rem;
            & .card {
                height: 100%;
                border-radius: 0;
                border: 1px solid #ced4da;
                padding: 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                overflow-wrap: anywhere;
                text-align: center;
                & i {
                    font-size: 18px;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $orange;
                    margin-bottom: 0.5rem;
                }
                & h5 {
                    font-size: 1rem;
                    color: $dark;
                    font-weight: 500;
                    margin-bottom: 0;
                }
                & p {
                    opacity: 0.8;
                    font-size: 0.937rem;
                    color: $dark;
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
        }
        form {
            margin-top: auto;
            & input {
                font-family: $font;
                border-radius: 0;
                &:focus {
                    box-shadow: 0 0 0 0.25rem #fdcd0d40;
                    border-color: #fdcd0d40;
                }
            }
            & textarea {
                font-family: $font;
                height: 100px !important;
                border-radius: 0;
                &:focus {
                    box-shadow: 0 0 0 0.25rem #fdcd0d40;
                    border-color: #fdcd0d40;
                }
            }
            & .btn-orange {
                background: $orange-dark;
                color: $light;
                font-family: $font;
                margin-top: 1rem;
                border-radius: 0;
                margin-left: auto;
                margin-right: auto;
                padding: 8px 32px;
            }
        }
    }
}

footer {
    background: $dark;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-image: url(/assets/images/bg-footer.avif);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(6.8px);
    }
    & .footer_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & h5 {
            color: $orange-dark;
            font-size: 1rem;
            font-weight: 600;
            font-family: $font;
            margin-bottom: 12px;
        }
        & p {
            font-size: 0.937rem;
            color: $dark;
            font-weight: 400;
            margin-bottom: 8px;
            font-family: $font;
            @media (min-width: 1400px) {
                font-size: 1rem;
            }
        }
        & ul {
            display: flex;
            flex-direction: column;
            padding-left: 0;
            list-style-type: none;
            & li {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                margin-bottom: 0;
                & i {
                    font-size: 1rem;
                    margin-right: 8px;
                }
            }
        }
    }
    & .footer_bottom {
        & p {
            font-size: 1rem;
            color: $dark;
            font-weight: 400;
            font-family: $font;
            text-align: center;
            margin-bottom: 0;
            & span {
                color: $orange-dark;
                font-weight: 600;
            }
        }
    }
}
